<h1>編集</h1>
<%= form_for(@article) do |f| %>
 				
				<h4>タイトル</h4>
 				 <%= f.text_field :title %>

                <h4>今日の天気</h4>
                <%= f.text_field :weather %>

                <h4>本文</h4>
                <%= f.text_area :body %>

                <%= f.submit '編集'%>
<% end %>
<%= link_to '戻る', articles_path %>