
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"><h1>新規投稿</h1>
            <!-- form_for部分 -->
            <%= form_for(@article) do |f| %>
             
                <h4>タイトル</h4>
                <%= f.text_field :title %>

                <h4>今日の天気</h4>
                <%= f.text_field :weather %>
             
                <h4>本文</h4>
                <%= f.text_area :body %>

                <h4>画像</h4>
                <%= f.attachment_field :image %>

                

                <%= f.submit '投稿'%>
              
            <% end %>
        </div>
        <div class="col-md-8">
            <h1>投稿一覧</h1>
                <table class="table">
                　<tr>
                    <th>画像</th>
                    <th>タイトル</th>
                　　<th>天気</th>
                    <th>本文</th>
                　</tr>
                    <% @articles.each do |article| %>
                　<tr>
                　　<td><%= attachment_image_tag article, :image, :fill, 100, 100, format: 'jpeg' %></td>
                    <td><%=link_to article.title, article_path(article.id) %></td>
                　　<td><%=link_to article.body, article_path(article.id) %></td>
                    <td><%=link_to article.weather, article_path(article.id) %></td>
                　</tr>
                 <% end %>
                </table>

           
        </div>
    </div>
</div>