<!DOCTYPE html>
<html>
  <head>
    <title>SatoDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">トップ</a></li>
  <li role="presentation"><a href="/articles">投稿一覧</a></li>
  <li role="presentation"><a href="#">新規投稿</a></li>
</ul>
    <%= yield %>
  </body>
</html>
